:root {
  /* Heading font size */
  --h-size--h1: 4.5rem;
  --h-size--h2: 3.5rem;
  --h-size--h3: 3rem;
  --h-size--h4: 2.5rem;
  --h-size--h5: 2rem;
  --h-size--h6: 1.75rem;

  --text-size-large: 1.5rem;
  --text-size-medium: 1.25rem;
  --text-size-regular: 1rem;
  --text-size-small: 0.875rem;
  --text-size-tiny: 0.75rem;

  /* Heading line heights */
  --h1-line-height: 1.28;
  --h2-line-height: 1.29;
  --h3-line-height: 1.33;
  --h4-line-height: 1.3;
  --h5-line-height: 1.25;
  --h6-line-height: 1.29;

  --text-line-height-large: 1.33;
  --text-line-height-medium: 1.4;
  --text-line-height-regular: 1.5;
  --text-line-height-small: 1.43;
  --text-line-height-tiny: 1.33;
}

:root {
  --font-size-0: 0.875;

  --font-size-1: 0.875;

  --font-size-2: 0.875;

  --font-size-3: 0.875;
}

html {
  font-size: calc(var(--font-size-3) * 1rem);
}
@media screen and (max-width: 1920px) {
  html {
    font-size: calc(var(--font-size-2) * 1rem);
  }
}
@media screen and (max-width: 1440px) {
  html {
    font-size: calc(var(--font-size-1) * 1rem);
  }
}
@media screen and (max-width: 479px) {
  html {
    font-size: calc(var(--font-size-0) * 1rem);
  }
}

.page-wrapper {
  overflow: hidden;
}

/* ================== */
/* ?? NAVIGATION */
/* ================== */

.hamburger-wrapper {
  cursor: pointer;
}

.button.is-primary {
  background: #fff;
  box-shadow: 6px 6px rgba(255, 255, 255, 0.65);
  color: #151515;

  padding: 1rem 2rem;
  display: inline-flex;
  position: relative;
  z-index: 1;
  transition: all 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  /* Apply transition to all properties */
  cursor: pointer;
  box-sizing: border-box; /* Ensure padding and border don't affect the size */
}
.button.is-primary:hover {
  box-shadow: 0px 0px rgba(255, 255, 255, 0.65);
  transform: translateY(3px);
  transform: translateX(3px);
  color: #212529;
}

.button.is-secondary {
  background: #0c0d0d;
  border: 1px solid #212121;
  box-shadow: 6px 6px #212121; /* Offset by 5px and 1px blur */

  padding: 1rem 2rem;
  display: inline-flex;
  justify-content: center;
  position: relative;
  z-index: 1;
  transition: all 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  /* Apply transition to all properties */
  cursor: pointer;
  box-sizing: border-box; /* Ensure padding and border don't affect the size */
}

.button.is-secondary:hover {
  box-shadow: 0px 0px #151515;
  transform: translateY(3px);
  transform: translateX(3px);
}

.container-large.radial-gradient,
.container-large.radial-gradient-projects {
  position: relative;
}

.masked-content {
  position: relative;
  z-index: 2; /* Ensure it's on top of the mask */
}

.no-mask {
  position: relative;
  z-index: 1000; /* Ensure it's above the mask */
}

/* ================== */
/* ? HERO SECTION */
/* ================== */

.container-large.projects {
  width: 100%;
  margin: 0 auto;

  display: grid;

  grid-template-rows:
    100px
    auto
    max-content
    150px;
  grid-template-columns: repeat(12, 1fr);

  /* prettier-ignore */
  grid-template-rows:
  max-content 
  max-content
  max-content
  [lines-start] max-content [lines-end];

  grid-template-columns: repeat(12, 1fr);

  column-gap: 24px;
}

.project-1--part-1-1 {
  z-index: 99;
  grid-row: 1 / 2;
  grid-column: 3 / 7;
}

.project-1--part-1-2 {
  z-index: 99;
  grid-row: 2 / 3;
  grid-column: 3 / 7;
}

.project-1--part-2-1 {
  z-index: 88;
  grid-row: 2 / 3;
  grid-column: 1 / 5;

  position: relative;
}

.project-1--part-2-2 {
  z-index: 87;
  grid-row: 3 / 4;
  grid-column: 1 / 5;
}

.project-2--part-1-1 {
  z-index: 99;
  grid-row: 1 / 2;
  grid-column: 7 / 11;
}

.project-2--part-1-2 {
  z-index: 99;
  grid-row: 2 / 3;
  grid-column: 7 / 11;

  position: relative;
}

.floating-book {
  position: absolute;
  z-index: 999;

  top: -16%;
  right: -15%;
  width: 71.94%;
}

.project-2--part-2-1 {
  z-index: 88;
  grid-row: 2 / 3;
  grid-column: 9 / -1;
}

.project-2--part-2-2 {
  z-index: 88;
  grid-row: 3 / 4;
  grid-column: 9 / -1;
}

.container-large.radial-gradient-projects {
  z-index: 0;
  width: 100%;
  height: auto;
  grid-row: lines-start / lines-end;
  grid-column: 1 / -1;
  /* transform: translateY(-200px); */
  margin-top: -200px; /* Compensate for the transform by reducing margin-top */
}

/* ================== */
/* ? BENEFITS */
/* ==================  */

.container-large.benefits_style {
  display: block;
}

.benefits-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content auto max-content;
  gap: 0;
  justify-content: center;
  align-content: center;
}

.benefit_wrapper.is-track-top {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
}

.benefit_wrapper.is-track-bottom {
  grid-row: 3 / 4;
  grid-column: 1 / -1;
}

.benefit_powerhouse {
  position: relative;
  justify-self: center;
  grid-row: 2 / 3;
  grid-column: 1 / -1;
  z-index: 99;
  background-color: #0c0d0d;
}

/* !START */

.benefit_lines {
  grid-row: 2 / 3;
  grid-column: 1 / -1;
  z-index: 1;
}

.benefit_lines.is-big {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  height: 100%;
  width: 100%;

  grid-row: 2 / 3;
  grid-column: 1 / -1;
  z-index: 1;
}

.svg-line-big,
.svg-line-small {
  grid-row: 2 / 3;
  grid-column: 1 / -1;
  height: 100%;
  width: 100%;
}

.benefit_lines.is-small {
  display: none;
}

/* !END */

/* ================== */
/* ? PLAN-GRID */
/* ==================  */

.section_plan-v2 {
  grid-template-columns: 6.75rem 1fr minmax(auto, max-content) 1fr 6.75rem;
  grid-template-rows: min-content min-content;
  justify-content: center;
}

/* Lines */
.plan-lines_center-line {
  width: clamp(1rem, 100%, 5rem);
}

.header_component-v2 {
  grid-column: 3/4;
  grid-row: 1/2;
}

.plan-container-v2 {
  grid-column: 3/4;
  grid-row: 2/3;
}

.plan_grid-v2 {
  inset: unset;
}

.plan_grid-v2.is-left {
  width: 100%;
  grid-column: 1/3;
  grid-row: 2/3;
  position: relative;
  align-self: center;
}
/* .plan_grid-v2.is-left > .plan-lines_center {
  justify-content: start;
}
.plan_grid-v2.is-right > .plan-lines_center {
  justify-content: end;
} */

.plan_grid-v2.is-right {
  width: 100%;
  grid-column: 4/6;
  grid-row: 2/3;
  position: relative;
  align-self: center;
}

.plan_grid-v2.is-left::before,
.plan_grid-v2.is-right::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  background-color: #0c0d0d;
  mask-composite: intersect;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  pointer-events: none;
  mask-size: cover, cover;
}

.plan_grid-v2.is-left::before {
  -webkit-mask-image: radial-gradient(
      circle 100px at var(--mouse-x, 50%) var(--mouse-y, 50%),
      transparent 0,
      #000 100%
    ),
    radial-gradient(
      ellipse farthest-corner at left,
      rgba(0, 0, 0, 0) 0%,
      rgba(12, 13, 13, 1) 60%,
      rgba(12, 13, 13, 1) 100%
    );
  mask-image: radial-gradient(
      circle 100px at var(--mouse-x, -100%) var(--mouse-y, -100%),
      transparent 0,
      #000 100%
    ),
    radial-gradient(
      ellipse farthest-corner at left,
      rgba(0, 0, 0, 0) -100%,
      rgba(12, 13, 13, 1) 60%,
      rgba(12, 13, 13, 1) 100%
    );
}

.plan_grid-v2.is-right::before {
  -webkit-mask-image: radial-gradient(
      circle 100px at var(--mouse-x, 50%) var(--mouse-y, 50%),
      transparent 0,
      #000 100%
    ),
    radial-gradient(
      ellipse farthest-corner at right,
      rgba(0, 0, 0, 0) 0%,
      rgba(12, 13, 13, 1) 60%,
      rgba(12, 13, 13, 1) 100%
    );
  -webkit-mask-composite: source-in;
  mask-image: radial-gradient(
      circle 100px at var(--mouse-x, -100%) var(--mouse-y, -100%),
      transparent 0,
      #000 100%
    ),
    radial-gradient(
      ellipse farthest-corner at right,
      rgba(0, 0, 0, 0) -100%,
      rgba(12, 13, 13, 1) 60%,
      rgba(12, 13, 13, 1) 100%
    );
}

/* ================== */
/* ? PLAN-SOCIAL */
/* ==================  */

.plan-card-social_content {
  grid-template-columns: min-content 2rem 1fr;
  grid-template-rows: 1fr min-content;
}

.plan-card-social_wrapper {
  border: 1px solid var(--neutral--800);
  padding-bottom: 0;
}

.plan-social_text-wrapper {
  grid-column: 1/3;
  grid-row: 1/2;
  z-index: 9;
}

.plan-social_name {
  z-index: 9;
}

.plan-card_image {
  grid-column: 2/4;
  grid-row: 1/-1;
  transform: translateY(1rem);
  z-index: 99;
}

.plan-social_grid {
  grid-column: 1/-1;
  grid-row: 1/-1;
  z-index: 1;
  position: relative;
}

.plan-social_grid::before {
  z-index: 1;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: var(--color--background--primary-light-1);
  -webkit-mask-image: radial-gradient(
    circle at center,
    rgba(0, 0, 0, 0) -10%,
    rgba(12, 13, 13, 1) 80%,
    rgba(12, 13, 13, 1) 100%
  );
  mask-image: radial-gradient(
    circle at center,
    rgba(0, 0, 0, 0) -10%,
    rgba(12, 13, 13, 1) 80%,
    rgba(12, 13, 13, 1) 100%
  );
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  pointer-events: none;
  mask-size: cover; /* Ensure the mask covers the entire element */
}

/* ================== */
/* ? SECTION PROJECT PROOF */
/* ================== */

.proof-project_content {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr min-content;
  align-items: start;
}

.proof-project_website {
  grid-column: 1/2;
  grid-row: 1/3;
}

.proof-project_results {
  grid-column: 2/3;
  grid-row: 1/2;
  height: 100%;

  align-content: center;

  z-index: 99;
}

.proof-project_review {
  grid-column: 2/3;
  grid-row: 2/3;
  height: 100%;

  align-content: center;
  flex-wrap: unset;
}

.proof-project_features {
  grid-column: 1/-1;
  grid-row: 3/4;
}

.container-large.proof_radial-gradient {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4rem max-content max-content;

  position: relative;
  z-index: 99;
}

.proof_center-line {
  height: clamp(1rem, 3rem, 5rem);
}

.proof_vertical-line {
  height: 100%;
}

.container-large.proof_radial-gradient::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  background-color: #101111;
  -webkit-mask-image: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0) -20%,
    rgba(12, 13, 13, 1) 70%,
    rgba(12, 13, 13, 1) 100%
  );
  mask-image: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0) -20%,
    rgba(12, 13, 13, 1) 80%,
    rgba(12, 13, 13, 1) 100%
  );
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  pointer-events: none;
  mask-size: cover; /* Ensure the mask covers the entire element */
}

/* ? START PROOF WEBSITE CARD */

.proof-card.proof-project_website {
  align-content: center;
  height: 100%;
}

.proof-website_project {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-template-columns: repeat(10, 1fr);

  height: auto;
}

.proof-website_project-part-1--shadow {
  grid-row: 1 / -1;
  grid-column: 1 / 7;
  border-radius: 8px;
  z-index: 9;
  box-shadow:
    0px 50px 100px -20px rgba(16, 17, 17, 25%),
    0px 30px 60px -30px rgba(16, 17, 17, 30%);
}

.proof-website_project-part-1-1,
.proof-website_project-part-1-2,
.proof-website_project-part-1-3 {
  width: 100%;
  height: auto;
  object-fit: cover;
  border: 1px solid var(--neutral--400);
}

.proof-website_project-part-1-1 {
  grid-row: 1 / 2;
  grid-column: 1 / 7;
  z-index: 99;
  border-bottom: none;
}

.proof-website_project-part-1-2 {
  grid-row: 2 / 3;
  grid-column: 1 / 7;
  z-index: 99;

  border-top: none;
  border-bottom: none;
}

.proof-website_project-part-1-3 {
  grid-row: 3 / 4;
  grid-column: 1 / 7;
  z-index: 99;

  border-top: none;
}

.proof-website_project-part-2-1 {
  grid-row: 2 / 3;
  grid-column: 5 / 11;
  z-index: 9;

  margin-bottom: -2px;

  position: relative;
}

.proof-website_project-part-2-1 img {
  border: 1px solid var(--neutral--400);
  border-radius: 8px;
  width: 100%;
}

.proof-website_project-part-2-1::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 11;
  background: linear-gradient(
    to left,
    rgba(16, 17, 17, 0.5) 0%,
    rgba(16, 17, 17, 0.35) 20%,
    rgba(16, 17, 17, 0) 50%
  );
  pointer-events: none; /* Ensure the pseudo-element does not interfere with interactions */
}

/* Add ray on top of form */
.max-width-large.light-ray {
  z-index: 9;
}

/* ? END - PROOF WEBSITE CARD */

/* ? START - PROOF - CENTER ELEMENT */

.benefit_powerhouse {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 8px;
}

.benefit_powerhouse::before {
  content: '';
  position: absolute;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(214, 214, 214, 0.75) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  height: 300px;
  width: 100px;
  transform: translate(0);
  animation: rotate 4s linear forwards infinite;
  z-index: 0;
  top: 50%;
  transform-origin: top center;
}

/* Define the keyframes for the rotate animation */
@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.benefit_powerhouse-inner {
  padding: 1rem 2rem;
  border: 1px solid var(--neutral--700);
  background-color: var(--color--background--primary-light-1);
  border-radius: 8px;

  z-index: 1;
  width: 100%;
  margin: 1px;
}

/* ================== */
/* ? FORM */
/* ================== */

.form_component {
  position: relative;
  border: 1px solid transparent;
  border-bottom: none;
  border-radius: 16px;

  /* prettier-ignore */
  background: linear-gradient(
    to bottom,
    rgba(16, 17, 17, 1) 0%,
    rgba(12, 13, 13, 0) 100%
  );
}

.form_component::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  border: inherit;
  border-bottom: inherit;
  border-radius: inherit;

  /* prettier-ignore */
  background: linear-gradient(
    to bottom,
    rgba(41, 41, 41, 1) 0%,
    rgba(70, 70, 70, 0) 100%
  )
    border-box;
  mask:
    linear-gradient(white, white) padding-box,
    linear-gradient(white, white);
  mask-composite: exclude;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  pointer-events: none;
}

/* ================== */
/* ? NORMAL INPUT */
/* ================== */

.form-input {
  transition:
    border 0.3s ease,
    box-shadow 0.2s ease;
}

.form-input:focus {
  background-color: #0c0d0d;

  box-shadow:
    0 0 3px rgba(114, 114, 114, 0.2),
    0 0 6px rgba(114, 114, 114, 0.2),
    0 0 9px rgba(114, 114, 114, 0.2);
}

/* ================== */
/* ? RADIO */
/* ================== */

.form-input {
  background-color: #0c0d0d;
}

.form-radio {
  cursor: pointer;
}

.form-radio:hover,
.form-radio:hover > .form-radio-icon {
  border-color: #727272; /* Change to the desired color */
}

/* ================== */
/* ? TEXT AREA */
/* ================== */

.form-input.is-text-area {
  resize: none;
  position: relative;
  overflow: hidden;
}

.form-input.is-text-area::-webkit-resizer {
  display: none;
}

/* Auto-fill styles */

/* Style for WebKit browsers (Chrome, Safari) */
.form-input:-webkit-autofill,
.form-input:-webkit-autofill:focus {
  transition:
    background-color 0s 600000s,
    color 0s 600000s,
    border 0.3s ease,
    box-shadow 0.3s ease !important;
}

/* Additional styles for other browsers */

.form-input:-moz-autofill,
.form-input:-moz-autofill:focus {
  transition:
    background-color 0s 600000s,
    color 0s 600000s,
    border 0.3s ease,
    box-shadow 0.3s ease !important;
}

/* ================== */
/* ? ACCORDION */
/* ================== */

.open {
  border: 1px solid var(--neutral--600);
}
.accordion-item {
  grid-row-gap: 0;
}

.accordion-item-header {
  cursor: pointer;
}

.accordion-item-header-icon {
  transition: transform 0.2s ease;
}

.accordion-item.open .accordion-item-header-icon {
  transform: rotate(135deg);
}

.accordion-item-description-wrapper {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: grid-template-rows 0.2s ease;
}

.accordion-item.open .accordion-item-description-wrapper {
  grid-template-rows: 1fr;
}

.accordion-item-description {
  min-height: 0;
}

/* ================== */
/* ? CTA */
/* ================== */

.container-large.radial-gradient,
.container-large.cta_radial-gradient,
.container-large.radial-gradient-projects {
  position: relative;
}

.container-large.radial-gradient::before,
.container-large.cta_radial-gradient::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: #0c0d0d;
  -webkit-mask-image: radial-gradient(
      circle 100px at var(--mouse-x, 50%) var(--mouse-y, 50%),
      transparent 0,
      #000 100%
    ),
    radial-gradient(
      ellipse at center,
      rgba(0, 0, 0, 0) 0%,
      rgba(12, 13, 13, 1) 80%,
      rgba(12, 13, 13, 1) 100%
    );
  -webkit-mask-composite: source-in;
  mask-image: radial-gradient(
      circle 100px at var(--mouse-x, 50%) var(--mouse-y, 50%),
      transparent 0,
      #000 100%
    ),
    radial-gradient(ellipse at center, rgba(0, 0, 0, 0) -70%, rgba(12, 13, 13, 1) 80%);
  mask-composite: intersect;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  pointer-events: none;
  mask-size: cover, cover;
}

.container-large.radial-gradient-projects::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: #0c0d0d;

  -webkit-mask-image: radial-gradient(
      circle 100px at var(--mouse-x, 50%) var(--mouse-y, 50%),
      transparent 0,
      #000 100%
    ),
    radial-gradient(
      ellipse at center,
      rgba(12, 13, 13, 0) -150%,
      rgba(12, 13, 13, 1) 80%,
      rgba(12, 13, 13, 1) 100%
    );
  -webkit-mask-composite: source-in;
  mask-image:
    radial-gradient(
      circle 100px at var(--mouse-x, 0%) var(--mouse-y, 0%),
      transparent 0,
      #000 100%
    ),
    /* prettier-ignore */
      radial-gradient(
        ellipse at center,
        rgba(12, 13, 13, 0) -150%,
        rgba(12, 13, 13, 1) 80%,
        rgba(12, 13, 13, 1) 100%
      );
  mask-composite: intersect;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  pointer-events: none;
  mask-size: cover, cover;
}

/* ================== */
/* ? FOOTER */
/* ================== */

.footer_separator {
  /* position: relative; */
  mask-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 70%);
}

/* FOOTER */
.footer_content-wrapper {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(3, 1fr);
}

.footer_card-spots {
  white-space: nowrap;
}

/* ================== */
/* ? SWIPER HERO */
/* ================== */

.button.is-primary {
  justify-content: center;
}

.swiper-container.is-hero {
  box-sizing: border-box; /* Ensure margins don't cause overflow */
  height: 100%;
  display: none;
}
.swiper.is-hero {
  width: 100%;
  height: 100%;
  overflow: visible;
}

.swiper-wrapper.is-hero {
}

.swiper-slide.is-hero {
  display: flex;
  justify-content: center;
  height: auto;
  min-height: 100%;
  background-color: var(--color--background--primary-light-1);
  padding: 1.5rem 1rem;
  border: 1px solid var(--neutral--800);
}

.hero-mobile_content {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-template-columns: repeat(9, 1fr);
  pointer-events: none;

  height: auto;

  align-content: center;
  height: 100%;
  width: 100%;
}

.hero-mobile_slide.hero-mobile_content {
  align-content: center;
  height: 100%;
}

.hero-mobile-website_project-part-1--shadow {
  grid-row: 1 / -1;
  grid-column: 1 / 7;
  border-radius: 8px;
  z-index: 9;
  box-shadow:
    0px 50px 100px -20px rgba(16, 17, 17, 25%),
    0px 30px 60px -30px rgba(16, 17, 17, 30%);
}

.swiper-wrapper.is-hero .swiper-slide:nth-child(2) .hero-mobile-website_project-part-1-1,
.swiper-wrapper.is-hero .swiper-slide:nth-child(2) .hero-mobile-website_project-part-1-2,
.swiper-wrapper.is-hero .swiper-slide:nth-child(2) .hero-mobile-website_project-part-1-3 {
  border: 1px solid var(--neutral--400);
}

.hero-mobile-website_project-part-1-1,
.hero-mobile-website_project-part-1-2,
.hero-mobile-website_project-part-1-3 {
  width: 100%;
  height: auto;
  object-fit: cover;
  border: 1px solid var(--neutral--900);
}

.hero-mobile-website_project-part-1-1,
.swiper-wrapper.is-hero .swiper-slide:nth-child(2) .hero-mobile-website_project-part-1-1 {
  border-bottom: none;
}

.hero-mobile-website_project-part-1-1 {
  grid-row: 1 / 2;
  grid-column: 1 / 7;
  z-index: 99;
}

.hero-mobile-website_project-part-1-2,
.swiper-wrapper.is-hero .swiper-slide:nth-child(2) .hero-mobile-website_project-part-1-2 {
  border-top: none;
  border-bottom: none;
}

.hero-mobile-website_project-part-1-2 {
  grid-row: 2 / 3;
  grid-column: 1 / 7;
  z-index: 99;
}

/* START - ADDING BOOK */
.hero-mobile-website_project-part-1-2.has-book {
  position: relative;
}

.shelby-book {
  position: absolute;
  top: -1.5%;
  left: 44%;
  width: 70%;
  z-index: 99;
}
/* END */

.hero-mobile-website_project-part-1-3,
.swiper-wrapper.is-hero .swiper-slide:nth-child(2) .hero-mobile-website_project-part-1-3 {
  border-top: none;
}
.hero-mobile-website_project-part-1-3 {
  grid-row: 3 / 4;
  grid-column: 1 / 7;
  z-index: 99;
}

.hero-mobile-website_project-part-2-1 {
  grid-row: 2 / 3;
  grid-column: 4 / 10;
  z-index: 9;

  margin-top: -1px;
  margin-bottom: -2px;

  position: relative;
}

.swiper-wrapper.is-hero .swiper-slide:nth-child(2) .hero-mobile-website_project-part-2-1 img {
  border: 1px solid var(--neutral--400);
}
.hero-mobile-website_project-part-2-1 img {
  border: 1px solid var(--neutral--900);
  border-radius: 8px;
  width: 100%;
}

.hero-mobile-website_project-part-2-1::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 11;
  background: linear-gradient(
    to left,
    rgba(16, 17, 17, 0.5) 0%,
    rgba(16, 17, 17, 0.25) 20%,
    rgba(16, 17, 17, 0) 40%
  );
  pointer-events: none; /* Ensure the pseudo-element does not interfere with interactions */
}

/* ================== */
/* ? SWIPER PRICING */
/* ================== */

.button.is-primary {
  justify-content: center;
}

.swiper-container {
  box-sizing: border-box; /* Ensure margins don't cause overflow */
  max-width: 76.5rem;
  height: 100%;
}

.swiper-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  column-gap: 1.5rem;
}

.swiper {
  width: 100%;
  height: 100%;
  overflow: visible;
}

.swiper-slide {
  display: flex;
  justify-content: flex-start;
  height: 100%;
  background-color: var(--color--background--primary-light-1);
}

.swiper-slide_content {
  padding: 2.5rem 2rem;
}

/* ================== */
/* ? ANIMATIONS */
/* ================== */

.plan-container-v2 {
  position: relative;
}

.plan_direction-item {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.plan-card_wrapper,
.plan-card-small_wrapper,
.plan-card-social_wrapper {
  position: relative;
  background-color: var(--color--background--primary-light-1);
  z-index: 99;
}

.plan-line-separator {
  opacity: 0;
}
.plan-container-v2 {
  position: relative;
  /* overflow: hidden; */
}

.plan_line {
  position: relative;
  height: 100%;
  width: 2px;
  background: repeating-linear-gradient(
    to bottom,
    var(--neutral--700),
    var(--neutral--700) 4px,
    transparent 4px,
    transparent 8px
  );
}

.plan_line::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: var(--progress-height, 0); /* Use CSS variable for the height */
  width: 100%;
  background: repeating-linear-gradient(
    to bottom,
    var(--neutral--500),
    var(--neutral--500) 4px,
    transparent 4px,
    transparent 8px
  );
  z-index: 1; /* Ensure this is above the gray dashed background */
}

.plan_line-wrapper,
.plan_directing-circle {
  height: 100%;
}

.plan_line-wrapper {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
}

.plan_directing-circle {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

/* ================== */
/* ? FAQ */
/* ================== */

.copied {
  border-color: var(--neutral--600);
  background-color: var(--neutral--900);
}

.hidden {
  display: none;
}

.clipboard-icon.is-success.hidden {
  display: none;
}

/* ================== */
/* ? GRID LINES */
/* ================== */

.proof-card.proof-project_results
  > .container-large.proof_radial-gradient
  > .hero-content-wrapper
  > .header_component
  > .horizontal-line {
  border-top: 1px dashed var(--neutral--700);
}

.plan-social_grid > .center-lines > .center-line > .vertical-line {
  border-left: 1px dashed var(--neutral--700);
}

/* .hero-content-wrapper > .header_component > .horizontal-line */
.plan-social_grid > .horizontal-line {
  border-top: 1px dashed var(--neutral--700);
}

/* ================== */
/* ? STAKES */
/* ================== */

.stakes_card:before {
  content: '';
  position: absolute;
  background-color: var(--color--background--primary);
  z-index: 10;
  border-radius: 8px;
  top: 0;
  left: 0;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

/* ==============================*/
/* ? MIKE PROFILE */
/* ============================== */

.profile-container {
  opacity: 0;
  pointer-events: none;
}

/* CARD BACKGROUNDS */
.benefit_card,
.accordion-item,
.stakes_card::before,
.contact-me_card {
  background-color: var(--color--background--primary-light-1);
}

/* CARD BORDERS */
.benefit_card,
.contact-me_card,
.proof-card,
.plan-card-small_wrapper,
.plan-card_wrapper,
.hero-mini-card,
.card-spots_status {
  border: 1px solid var(--neutral--800);
}
