:root {
  /* Heading font size */
  --h-size--h1: 4.5rem;
  --h-size--h2: 3.5rem;
  --h-size--h3: 3rem;
  --h-size--h4: 2.5rem;
  --h-size--h5: 2rem;
  --h-size--h6: 1.75rem;

  --text-size-large: 1.5rem;
  --text-size-medium: 1.25rem;
  --text-size-regular: 1rem;
  --text-size-small: 0.875rem;
  --text-size-tiny: 0.75rem;

  /* Heading line heights */
  --h1-line-height: 1.28;
  --h2-line-height: 1.29;
  --h3-line-height: 1.33;
  --h4-line-height: 1.3;
  --h5-line-height: 1.25;
  --h6-line-height: 1.29;

  --text-line-height-large: 1.33;
  --text-line-height-medium: 1.4;
  --text-line-height-regular: 1.5;
  --text-line-height-small: 1.43;
  --text-line-height-tiny: 1.33;
}

.button.is-primary {
  background: #fff;
  box-shadow: 6px 6px rgba(255, 255, 255, 0.65);
  color: #151515;

  padding: 1rem 2rem;
  display: inline-flex;
  position: relative;
  z-index: 1;
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  /* Apply transition to all properties */
  cursor: pointer;
  box-sizing: border-box; /* Ensure padding and border don't affect the size */
}
.button.is-primary:hover {
  box-shadow: 0px 0px rgba(255, 255, 255, 0.65);
  transform: translateY(3px);
  transform: translateX(3px);
  color: #212529;
}

.button.is-secondary {
  background: #0c0d0d;
  border: 1px solid #212121;
  box-shadow: 6px 6px #212121; /* Offset by 5px and 1px blur */

  padding: 1rem 2rem;
  display: inline-flex;
  justify-content: center;
  position: relative;
  z-index: 1;
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  /* Apply transition to all properties */
  cursor: pointer;
  box-sizing: border-box; /* Ensure padding and border don't affect the size */
}

.button.is-secondary:hover {
  box-shadow: 0px 0px #151515;
  transform: translateY(3px);
  transform: translateX(3px);
}

.container-large.radial-gradient,
.container-large.radial-gradient-projects {
  position: relative;
}
/* 
.container-large.radial-gradient::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: #0c0d0d;
  -webkit-mask-image: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0) 0%,
    rgba(12, 13, 13, 1) 85%,
    rgba(12, 13, 13, 1) 100%
  );
  mask-image: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0) 0%,
    rgba(12, 13, 13, 1) 85%,
    rgba(12, 13, 13, 1) 100%
  );
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  pointer-events: none;
  mask-size: cover; 
} */

.masked-content {
  position: relative;
  z-index: 2; /* Ensure it's on top of the mask */
}

.no-mask {
  position: relative;
  z-index: 1000; /* Ensure it's above the mask */
}

.container-large.radial-gradient-projects::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: #0c0d0d;
  -webkit-mask-image: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0) -20%,
    rgba(12, 13, 13, 1) 70%,
    rgba(12, 13, 13, 1) 100%
  );
  mask-image: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0) -20%,
    rgba(12, 13, 13, 1) 70%,
    rgba(12, 13, 13, 1) 100%
  );
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  pointer-events: none;
  mask-size: cover; /* Ensure the mask covers the entire element */
}

/* ================== */
/* ? HERO SECTION */
/* ================== */

.container-large.projects {
  width: 100%;
  margin: 0 auto;
  font-family: sans-serif;

  display: grid;

  grid-template-rows:
    100px
    auto
    max-content
    150px;
  grid-template-columns: repeat(12, 1fr);

  /* prettier-ignore */
  grid-template-rows:
  max-content 
  max-content
  max-content
  [lines-start] max-content [lines-end];

  grid-template-columns: repeat(12, 1fr);

  column-gap: 24px;
}

.project-1--part-1-1 {
  z-index: 99;
  grid-row: 1 / 2;
  grid-column: 3 / 7;
}

.project-1--part-1-2 {
  z-index: 99;
  grid-row: 2 / 3;
  grid-column: 3 / 7;
}

.project-1--part-2-1 {
  z-index: 88;
  grid-row: 2 / 3;
  grid-column: 1 / 5;

  position: relative;
}

.truck-lights {
  position: absolute;
  z-index: 999;
  width: 29.08%;

  bottom: -9%;
  left: 34%;
}

.project-1--part-2-2 {
  z-index: 87;
  grid-row: 3 / 4;
  grid-column: 1 / 5;
}

.project-2--part-1-1 {
  z-index: 99;
  grid-row: 1 / 2;
  grid-column: 7 / 11;
}

.project-2--part-1-2 {
  z-index: 99;
  grid-row: 2 / 3;
  grid-column: 7 / 11;

  position: relative;
}

.floating-book {
  position: absolute;
  z-index: 999;

  top: -16%;
  right: -15%;
  width: 71.94%;
}

.project-2--part-2-1 {
  z-index: 88;
  grid-row: 2 / 3;
  grid-column: 9 / -1;
}

.project-2--part-2-2 {
  z-index: 88;
  grid-row: 3 / 4;
  grid-column: 9 / -1;
}

.container-large.radial-gradient-projects {
  z-index: 0;
  width: 100%;
  height: auto;
  grid-row: lines-start / lines-end;
  grid-column: 1 / -1;
  /* transform: translateY(-200px); */
  margin-top: -200px; /* Compensate for the transform by reducing margin-top */
}

/* ================== */
/* ? LINE SEPARATOR */
/* ==================  */

.benefits-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(min-content, 1fr) auto minmax(min-content, 1fr);
  gap: 0;
  justify-content: center;
  overflow: hidden;
}

.benefit_wrapper.is-track-top {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
}

.benefit_powerhouse {
  position: relative;
  justify-self: center;
  grid-row: 2 / 3;
  grid-column: 1 / -1;
  z-index: 99;
  background-color: #0c0d0d;
}

.benefit_lines {
  position: relative;
  grid-row: 2 / 3;
  grid-column: 1 / -1;
  z-index: 1;
}

.benefit_wrapper.is-track-bottom {
  grid-row: 3 / 4;
  grid-column: 1 / -1;
}

@media (max-width: 1280px) {
  .benefit-container {
    grid-template-rows: auto auto auto; /* Adjust rows for smaller screens */
  }
}

/* ================== */
/* ? PLAN-GRID */
/* ==================  */

.section_plan-v2 {
  grid-template-columns: 6.75rem 1fr minmax(auto, max-content) 1fr 6.75rem;
  grid-template-rows: min-content min-content;
  justify-content: center;
}

/* Lines */
.plan-lines_center-line {
  width: clamp(1rem, 100%, 5rem);
}

.header_component-v2 {
  grid-column: 3/4;
  grid-row: 1/2;
}

.plan-container-v2 {
  grid-column: 3/4;
  grid-row: 2/3;
}

.plan_grid-v2 {
  inset: unset;
}

.plan_grid-v2.is-left {
  width: 100%;
  grid-column: 1/3;
  grid-row: 2/3;
  position: relative;
  align-self: center;
}

.plan_grid-v2.is-right {
  width: 100%;
  grid-column: 4/6;
  grid-row: 2/3;
  position: relative;
  align-self: center;
}

.plan_grid-v2.is-left::before,
.plan_grid-v2.is-right::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  background-color: #0c0d0d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  pointer-events: none;
  mask-size: cover;
}

.plan_grid-v2.is-left::before {
  -webkit-mask-image: radial-gradient(
    ellipse farthest-corner at left,
    rgba(0, 0, 0, 0) -30%,
    rgba(12, 13, 13, 1) 60%
  );
  mask-image: radial-gradient(
    ellipse farthest-corner at left,
    rgba(0, 0, 0, 0) 0%,
    rgba(12, 13, 13, 1) 60%,
    rgba(12, 13, 13, 1) 100%
  );
}

.plan_grid-v2.is-right::before {
  -webkit-mask-image: radial-gradient(
    ellipse farthest-corner at right,
    rgba(0, 0, 0, 0) -30%,
    rgba(12, 13, 13, 1) 60%
  );
  mask-image: radial-gradient(
    ellipse farthest-corner at right,
    rgba(0, 0, 0, 0) 00%,
    rgba(12, 13, 13, 1) 60%,
    rgba(12, 13, 13, 1) 100%
  );
}

/* ================== */
/* ? PLAN-SOCIAL */
/* ==================  */

.plan-card-social_content {
  grid-template-columns: min-content 2rem 1fr;
  grid-template-rows: 1fr min-content;
}

.plan-card-social_wrapper {
  padding-bottom: 0;
}

.plan-social_text-wrapper {
  grid-column: 1/3;
  grid-row: 1/2;
  z-index: 9;
}

.plan-social_name {
  z-index: 9;
}

.plan-card_image {
  grid-column: 2/4;
  grid-row: 1/-1;
  transform: translateY(1rem);
  z-index: 99;
}

.plan-social_grid {
  grid-column: 1/-1;
  grid-row: 1/-1;
  z-index: 1;
  position: relative;
}

.plan-social_grid::before {
  z-index: 1;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: #0c0d0d;
  -webkit-mask-image: radial-gradient(
    circle at center,
    rgba(0, 0, 0, 0) -10%,
    rgba(12, 13, 13, 1) 80%,
    rgba(12, 13, 13, 1) 100%
  );
  mask-image: radial-gradient(
    circle at center,
    rgba(0, 0, 0, 0) -10%,
    rgba(12, 13, 13, 1) 80%,
    rgba(12, 13, 13, 1) 100%
  );
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  pointer-events: none;
  mask-size: cover; /* Ensure the mask covers the entire element */
}

/* ================== */
/* ? SECTION PROJECT PROOF */
/* ================== */

.proof-project_content {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr min-content;
  align-items: start;
}

.proof-project_website {
  grid-column: 1/2;
  grid-row: 1/3;
}

.proof-project_results {
  grid-column: 2/3;
  grid-row: 1/2;
  height: 100%;

  align-content: center;

  z-index: 99;
}

.proof-project_review {
  grid-column: 2/3;
  grid-row: 2/3;
  height: 100%;

  align-content: center;
  flex-wrap: unset;
}

.proof-project_features {
  grid-column: 1/-1;
  grid-row: 3/4;
}

.container-large.proof_radial-gradient {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4rem max-content max-content;

  position: relative;
  z-index: 99;
}

.proof_center-line {
  height: clamp(1rem, 3rem, 5rem);
}

.proof_vertical-line {
  height: 100%;
}

.container-large.proof_radial-gradient::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  background-color: #101111;
  -webkit-mask-image: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0) -20%,
    rgba(12, 13, 13, 1) 70%,
    rgba(12, 13, 13, 1) 100%
  );
  mask-image: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0) -20%,
    rgba(12, 13, 13, 1) 80%,
    rgba(12, 13, 13, 1) 100%
  );
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  pointer-events: none;
  mask-size: cover; /* Ensure the mask covers the entire element */
}

/* ================== */
/* ? PROOF WEBSITE CARD */
/* ================== */

.proof-card.proof-project_website {
  align-content: center;
  height: 100%;
}

.proof-website_project {
  display: grid;
  grid-template-rows: repeat(3, max-content);
  grid-template-columns: repeat(9, 1fr);

  /* column-gap: 1rem; */
}

.proof_slide.proof_content {
  align-content: center;
  height: 100%;
}

.proof-website_project-part-1-1,
.proof-website_project-part-1-2,
.proof-website_project-part-1-3,
.proof-website_project-part-2-1 {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.proof-website_project-part-1-1 {
  grid-row: 1 / 2;
  grid-column: 1 / 6;
  z-index: 99;
}

.proof-website_project-part-1-2 {
  grid-row: 2 / 3;
  grid-column: 1 / 6;
  z-index: 99;
}

.proof-website_project-part-1-3 {
  grid-row: 3 / 4;
  grid-column: 1 / 6;
  z-index: 99;
}

.proof-website_project-part-1--shadow {
  grid-row: 1 / -1;
  grid-column: 1 / 6;
  border-radius: 8px;
  z-index: 9;
  box-shadow:
    0px 50px 100px -20px rgba(16, 17, 17, 25%),
    0px 30px 60px -30px rgba(16, 17, 17, 30%);
}

.proof-website_project-part-2-1 {
  grid-row: 2 / 3;
  grid-column: 5 / 10;
  z-index: 9;

  position: relative;
}

.proof-website_project-part-2-1 img {
  border-radius: 8px;
  width: 100%;
}

.proof-website_project-part-2-1::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 11;
  background: linear-gradient(
    to left,
    rgba(16, 17, 17, 0.5) 0%,
    rgba(16, 17, 17, 0.35) 20%,
    rgba(16, 17, 17, 0) 50%
  );
  pointer-events: none; /* Ensure the pseudo-element does not interfere with interactions */
}

/* Add ray on top of form */
.max-width-large.light-ray {
  z-index: 9;
}

/* ================== */
/* ? FORM */
/* ================== */

.form_component {
  position: relative;
  border: 1px solid transparent;
  border-bottom: none;
  border-radius: 16px;

  /* prettier-ignore */
  background: linear-gradient(
    to bottom,
    rgba(16, 17, 17, 1) 0%,
    rgba(12, 13, 13, 0) 100%
  );
}

.form_component::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  border: inherit;
  border-bottom: inherit;
  border-radius: inherit;

  /* prettier-ignore */
  background: linear-gradient(
    to bottom,
    rgba(70, 70, 70, 1) 0%,
    rgba(70, 70, 70, 0) 100%
  )
    border-box;
  mask:
    linear-gradient(white, white) padding-box,
    linear-gradient(white, white);
  mask-composite: exclude;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  pointer-events: none;
}

/* ================== */
/* ? NORMAL INPUT */
/* ================== */

.form-input {
  transition:
    border 0.3s ease,
    box-shadow 0.2s ease;
}

.form-input:focus {
  background-color: #0c0d0d;

  box-shadow:
    0 0 3px rgba(114, 114, 114, 0.2),
    0 0 6px rgba(114, 114, 114, 0.2),
    0 0 9px rgba(114, 114, 114, 0.2);
}

/* ================== */
/* ? RADIO */
/* ================== */

.form-input {
  background-color: #0c0d0d;
}

.form-radio {
  cursor: pointer;
}

.form-radio:hover,
.form-radio:hover > .form-radio-icon {
  border-color: #727272; /* Change to the desired color */
}

/* ================== */
/* ? TEXT AREA */
/* ================== */

.form-input.is-text-area {
  resize: none;
  position: relative;
  overflow: hidden;
}

.form-input.is-text-area::-webkit-resizer {
  display: none;
}

/* Auto-fill styles */

/* Style for WebKit browsers (Chrome, Safari) */
.form-input:-webkit-autofill,
.form-input:-webkit-autofill:focus {
  transition:
    background-color 0s 600000s,
    color 0s 600000s,
    border 0.3s ease,
    box-shadow 0.3s ease !important;
}

/* Additional styles for other browsers */

.form-input:-moz-autofill,
.form-input:-moz-autofill:focus {
  transition:
    background-color 0s 600000s,
    color 0s 600000s,
    border 0.3s ease,
    box-shadow 0.3s ease !important;
}

/* ================== */
/* ? ACCORDION */
/* ================== */

.open {
  border: 1px solid #727272;
}
.accordion-item {
  grid-row-gap: 0;
}

.accordion-item-header {
  cursor: pointer;
}

.accordion-item-header-icon {
  transition: transform 0.2s ease;
}

.accordion-item.open .accordion-item-header-icon {
  transform: rotate(135deg);
}

.accordion-item-description-wrapper {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: grid-template-rows 0.2s ease;
}

.accordion-item.open .accordion-item-description-wrapper {
  grid-template-rows: 1fr;
}

.accordion-item-description {
  min-height: 0;
}

/* ================== */
/* ? CTA */
/* ================== */

.container-large.radial-gradient,
.container-large.cta_radial-gradient,
.container-large.radial-gradient-projects {
  position: relative;
}

.container-large.radial-gradient::before,
.container-large.cta_radial-gradient::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: #0c0d0d;
  -webkit-mask-image: radial-gradient(
      circle 100px at var(--mouse-x, 50%) var(--mouse-y, 50%),
      transparent 0,
      #000 100%
    ),
    radial-gradient(
      ellipse at center,
      rgba(0, 0, 0, 0) 0%,
      rgba(12, 13, 13, 1) 80%,
      rgba(12, 13, 13, 1) 100%
    );
  -webkit-mask-composite: source-in;
  mask-image: radial-gradient(
      circle 100px at var(--mouse-x, 50%) var(--mouse-y, 50%),
      transparent 0,
      #000 100%
    ),
    radial-gradient(
      ellipse at center,
      rgba(0, 0, 0, 0) 0%,
      rgba(12, 13, 13, 1) 80%,
      rgba(12, 13, 13, 1) 100%
    );
  mask-composite: intersect;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  pointer-events: none;
  mask-size: cover, cover;
}

.container-large.radial-gradient-projects::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: #0c0d0d;
  -webkit-mask-image: radial-gradient(
      circle 100px at var(--mouse-x, 50%) var(--mouse-y, 50%),
      transparent 0,
      #000 100%
    ),
    radial-gradient(
      ellipse at center,
      rgba(0, 0, 0, 0) 0%,
      rgba(12, 13, 13, 1) 80%,
      rgba(12, 13, 13, 1) 100%
    );
  -webkit-mask-composite: source-in;
  mask-image: radial-gradient(
      circle 100px at var(--mouse-x, 50%) var(--mouse-y, 50%),
      transparent 0,
      #000 100%
    ),
    radial-gradient(
      ellipse at center,
      rgba(0, 0, 0, 0) -50%,
      rgba(12, 13, 13, 1) 80%,
      rgba(12, 13, 13, 1) 100%
    );
  mask-composite: intersect;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  pointer-events: none;
  mask-size: cover, cover;
}

/* ================== */
/* ? FOOTER */
/* ================== */

.footer_separator {
  /* position: relative; */
  mask-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 70%);
}

/* ================== */
/* ? SWIPER HERO */
/* ================== */

.button.is-primary {
  justify-content: center;
}

.swiper-container.is-hero {
  box-sizing: border-box; /* Ensure margins don't cause overflow */
  height: 100%;
}
.swiper.is-hero {
  width: 100%;
  height: 100%;
  overflow: visible;
}

.swiper-wrapper.is-hero {
}

.swiper-slide.is-hero {
  display: flex;
  justify-content: center;
  height: auto;
  min-height: 100%;
  background-color: var(--color--background--primary-light-1);
  padding: 1.5rem 1rem;
  border: 1px solid var(--neutral--800);
}

.hero-mobile_content {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-template-columns: repeat(9, 1fr);
  pointer-events: none;

  height: auto;

  /* !New */
  align-content: center;
  height: 100%;
  width: 100%;
}

.hero-mobile_content.is-larger {
  width: 80%;
}

.hero-mobile_slide.hero-mobile_content {
  align-content: center;
  height: 100%;
}

/* .hero-mobile-website_project-part-1-3 {
  width: 100%;
  height: auto;
  object-fit: cover;
} */

.hero-mobile-website_project-part-1-1,
.hero-mobile-website_project-part-1-2,
.hero-mobile-website_project-part-1-3,
.hero-mobile-website_project-part-2-1 {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.hero-mobile-website_project-part-1-1 {
  grid-row: 1 / 2;
  grid-column: 1 / 6;
  z-index: 99;
}

.hero-mobile-website_project-part-1-2 {
  grid-row: 2 / 3;
  grid-column: 1 / 6;
  z-index: 99;
}

.hero-mobile-website_project-part-1-3 {
  grid-row: 3 / 4;
  grid-column: 1 / 6;
  z-index: 99;
}

.hero-mobile-website_project-part-1--shadow {
  grid-row: 1 / -1;
  grid-column: 1 / 6;
  border-radius: 8px;
  z-index: 9;
  box-shadow:
    0px 50px 100px -20px rgba(16, 17, 17, 25%),
    0px 30px 60px -30px rgba(16, 17, 17, 30%);
}

.hero-mobile-website_project-part-2-1 {
  grid-row: 2 / 3;
  grid-column: 5 / 10;
  z-index: 9;

  position: relative;
}

.hero-mobile-website_project-part-2-1 img {
  border-radius: 8px;
  width: 100%;
}

.hero-mobile-website_project-part-2-1::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 11;
  background: linear-gradient(
    to left,
    rgba(16, 17, 17, 0.5) 0%,
    rgba(16, 17, 17, 0.35) 20%,
    rgba(16, 17, 17, 0) 50%
  );
  pointer-events: none; /* Ensure the pseudo-element does not interfere with interactions */
}

/* ================== */
/* ? SWIPER PRICING */
/* ================== */

.button.is-primary {
  justify-content: center;
}

.swiper-container {
  box-sizing: border-box; /* Ensure margins don't cause overflow */
  max-width: 76.5rem;
  height: 100%;
}

.swiper-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  column-gap: 1.5rem;
}

.swiper {
  width: 100%;
  height: 100%;
  overflow: visible;
}

.swiper-slide {
  display: flex;
  justify-content: flex-start;
  height: 100%;
  background-color: var(--color--background--primary-light-1);
}

.swiper-slide_content {
  padding: 2.5rem 2rem;
}

/* ================== */
/* ? FOOTER */
/* ================== */

.footer_separator {
  /* margin-top: 0; */
}

/* ================== */
/* ? MEDIA QUERIES */
/* ================== */

.proof_outer-lines {
  height: 100%;
  align-items: flex-end;
}

/* html {
    font-size: calc(0.5rem + 0.41666666666666663vw);
  } */
@media screen and (max-width: 1920px) {
  /* html {
      font-size: calc(0.49999999999999994rem + 0.41666666666666674vw);
    } */
}
@media screen and (max-width: 1440px) {
  /* html {
      font-size: calc(0.8126951092611863rem + 0.20811654526534862vw);
    } */
}
@media screen and (max-width: 767px) {
  .heading-style-h1 {
    font-size: var(--h-size--h3);
    line-height: var(--h3-line-height);
  }
  .heading-style-h2 {
    font-size: var(--h-size--h3);
    line-height: var(--h3-line-height);
  }
  .heading-style-h3 {
    font-size: var(--h-size--h4);
    line-height: var(--h4-line-height);
  }
  .heading-style-h4 {
    font-size: var(--h-size--h5);
    line-height: var(--h5-line-height);
  }

  .text-size-large {
    font-size: var(--text-size-medium);
    line-height: var(--text-line-height-medium);
  }
  .text-size-medium {
    font-size: var(--text-size-regular);
    line-height: var(--text-line-height-regular);
  }

  /* ? HERO LINES */
  .vertical-line {
    height: 4rem;
  }

  .outer-lines.masked-content {
    grid-template-columns: 1fr;
  }

  .right-lines {
    display: none;
  }

  .body-wrapper {
    align-self: center;
    grid-template-columns: 1fr;
  }

  .left-lines {
    display: none;
  }
  /* ? PROOF RESULTS CARD */
  .proof_body-wrapper {
    grid-template-columns: auto 1fr auto 1fr auto;
    grid-template-rows: 1fr;
    gap: 0;
  }
}

@media screen and (max-width: 479px) {
  /* html {
      font-size: calc(0.8747384937238494rem + 0.41841004184100417vw);
    } */
  /* ?? PROOF */
  /* ? PROOF RESULTS CARD */
  .proof_center-lines > .proof_center-line:first-child {
    display: none;
  }

  /* ? PROOF FEATURES CARD */
  .proof-card.proof-project_features {
    align-items: flex-start;
  }

  /* ? FORM THIRD OPTION SAVINGS */
  .form_discount {
    top: 0;
    transform: translate(1rem, -50%);
  }

  .form_discount > .text-size-small {
    font-size: var(--text-size-tiny);
    line-height: var(--text-line-height-tiny);
  }
}

@media (max-width: 1110px) {
  .plan_grid-v2 > .plan-lines_center > .plan-lines_center-line:nth-child(2n) {
    display: none;
  }
}

@media (max-width: 911px) {
  /* ? PLAN */
  .plan_grid-v2 > .plan-lines_center > .plan-lines_center-line:first-child,
  .plan_grid-v2 > .plan-lines_center > .plan-lines_center-line:last-child {
    display: none;
  }

  /* !!TEMPORARY */
  .navbar_container > .button.is-secondary {
    display: none;
  }
  .slider-wrapper {
    display: none;
  }

  .pricing_slider,
  .slider {
    display: flex;
    flex-direction: column;
  }
  /* !! TEMPORARY */

  .section_hero > .padding-global > .container-large.projects {
    display: none;
  }

  .section_hero.hide-desktop {
    display: block;
  }

  /* ================== */
  /* ? SWIPER */
  /* ================== */

  .swiper-container {
    box-sizing: border-box; /* Ensure margins don't cause overflow */
    max-width: calc(100% - 2rem); /* Adjust the width based on margin */
    height: 100%;
  }

  .swiper {
    width: 100%;
    height: 100%;
    overflow: visible;
  }

  .swiper-wrapper {
    display: flex;
    column-gap: 0;
  }

  .swiper-slide {
    display: flex;
    justify-content: flex-start;
    min-height: 100%;
    height: auto;
    background-color: var(--color--background--primary-light-1);
  }

  .swiper-slide_content {
    height: auto;
  }

  .swiper .swiper-slide:nth-child(1),
  .swiper .swiper-slide:nth-child(2) {
    width: 85%;
  }

  .swiper .swiper-slide:nth-child(3) {
    width: 100%;
  }
}

@media (max-width: 768px) {
  /* ? PLAN */
  .plan_grid-v2.is-right,
  .plan_grid-v2.is-left {
    display: none;
  }

  /* ================== */
  /* ? FORM */
  /* ================== */

  .form_name-wrapper {
    flex-direction: column;
    gap: 1rem;
  }

  .form_name-wrapper .form-field-wrapper {
    width: 100%;
  }

  .form_component {
    padding: 4rem 2rem;
  }
  /* ?BENEFITS */

  .benefits-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, min-content);
    justify-content: center;
    align-content: center;
    place-items: unset;
  }

  .is-track-top,
  .is-track-bottom {
    display: flex;
    /* flex: 1 0 100%; */
    flex-direction: column;
    gap: 1.5rem;
  }

  .is-track-top {
    grid-row: 1/2;
  }

  .text-size-large.is-powerhouse-text {
    border: 1px solid var(--neutral--700);
    padding: 1rem 2rem;
    border-radius: 8px;
    background-color: #0c0d0d;
  }

  .benefit_powerhouse {
    grid-row: 2/3;
    border: unset;
    padding: 0;
    padding: 2rem;
    background-color: transparent;
    place-content: center center;
  }

  /* ! to check later */
  .benefit_lines {
    height: 100%;
    width: 100%;
  }

  .is-track-bottom {
    grid-row: 3/4;
  }

  /* PROOF */
  .proof-project_content {
    grid-template-rows: repeat(4, min-content);
    grid-template-columns: 1fr;
  }

  .proof-project_website {
    grid-column: 1/-1;
    grid-row: 1/2;
  }

  .proof-project_results {
    grid-column: 1/-1;
    grid-row: 2/3;
    height: 100%;

    align-content: center;
    z-index: 99;
  }

  .proof-card.proof-project_review {
    grid-column: 1/-1;
    grid-row: 3/4;
    height: 100%;

    flex-wrap: unset;
    align-items: flex-start;

    /* align-items: center;
        text-align: center; */
  }

  .proof-project_features {
    grid-column: 1/-1;
    grid-row: 4/5;

    flex-direction: column;
    gap: 1rem;
  }

  /* FAQ */
  .contact-me_wrapper {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr;
  }

  .contact-me_question-wrapper {
    justify-content: flex-start;
  }

  .contact-me_wrapper > .contact-me_card:last-of-type {
    align-items: center;
  }

  /* FOOTER */
  .footer_content-wrapper {
    grid-template-rows: repeat(3, min-content);
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 3rem;
  }

  .footer_card-spots {
    grid-row: 1/2;
    grid-column: 1/-1;
  }

  .footer_socials-wrapper {
    grid-row: 2/3;
    grid-column: 1/-1;
  }

  .footer_copyright-wrapper {
    grid-row: 3/4;
    grid-column: 1/-1;
    display: flex; /* Add flexbox */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
  }
}

@media (max-width: 546px) {
  .navbar_logo {
    width: 7rem;
  }
  /* !! TO UPDATE */
  /* .hero-mini-wrapper {
      display: inline-flex;
      flex-wrap: nowrap;
    }
  
    .hero-mini-card {
      display: flex;
      align-items: center;
      white-space: nowrap;
      flex-shrink: 0;
    }
  
    .webflow-icon {
      max-width: 2rem;
      flex-shrink: 0; */
  /* !! TO UPDATE / */

  /* ? PLAN SUCCESS TEXT */
  .heading-style-h5.is-plan_testimonial {
    font-size: var(--h-size--h6);
    line-height: var(--h6-line-height);
  }

  .section_plan-v2 {
    display: flex;
    flex-direction: column;
  }
  .plan-card_icon .heading-style-h4.plan-card_icon-text {
    font-size: 2rem;
  }
  .plan-card_icon {
    width: 3rem;
    height: 3rem;
    transform: translate(calc(-50% + 0.75rem), calc(-50% - 1px));
  }

  .plan-icon.is-vertical {
    height: 3rem;
  }

  .plan-icon.is-horizontal {
    width: 3rem;
  }
}

/* ?NEW */
@media (max-width: 416px) {
  .section_plan-v2 {
    display: flex;
    flex-direction: column;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}
